@use "../../scss/base";

.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(100svh - var(--navbar-height));
  height: calc(100svh - var(--navbar-height));
  overflow: hidden;
  gap: var(--margin-default);
  padding: var(--margin-default);
}

.error {
  @extend .h1;
  padding: var(--margin-big);
  color: var(--error-color);
  text-align: center;
}

.preview {
  margin: 0;
}

.titlePreview {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  margin-block: var(--margin-default);
  font-style: italic;
}

.title {
  z-index: 1;
  flex: 0 0 auto;
  margin: 0 var(--margin-small);
  font-family: var(--font-family-title), sans-serif;
  background: var(--presentation-element-bg-color);
  color: (--presentation-element-text-color);
  padding: var(--margin-small) var(--margin-default);
  text-align: center;
  border-radius: var(--border-radius);

  &:first-letter {
    text-transform: uppercase;
  }
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  align-content: center;
  text-align: center;
}

.slide {
  transition: opacity 1s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.image {
  object-fit: contain;
  object-position: center;
  max-height: 100%;
  max-width: 100%;
}


.backgroundImage {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  @extend .slide;
}

.controls {
  flex: 0 0 auto;
  z-index: 1;
  margin: 0 var(--margin-small);
  display: flex;
  flex-direction: row;
  gap: var(--margin-default);
  align-items: center;
  justify-items: center;
  font-size: clamp(1.5em, 1.6vw, 2em);
  background: var(--presentation-element-bg-color);
  color: (--presentation-element-text-color);
  padding: var(--margin-default) 0;
  border-radius: var(--border-radius);
  font-weight: 500;
}

.number {
  white-space: nowrap;
  width: 60px;
  text-align: right;

  &:global(.last) {
    text-align: center;
  }
}

.photographer {
  z-index: 1;
  text-align: center;
  font-size: 12px;
  background: var(--presentation-element-bg-color);
  color: (--presentation-element-text-color);
  padding: var(--margin-small) var(--margin-default);
  border-radius: var(--border-radius);
  line-height: 1.5;
}

.intro,
.final {
  display: flex;
  position: relative;
  height: calc(100vh - var(--navbar-height));
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  text-align: center;
  padding: var(--margin-default);
  overflow: auto;
}

.challengeAcceptedButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--margin-default);
  width: 300px;
  max-width: 100%;
  font-size: clamp(1.6em, 3.2vw, 3em);
  text-transform: uppercase;
  align-items: center;
  padding: var(--margin-default);
}

.challengeAcceptedImage {
  --bubble-size: var(--margin-medium);

  display: block;
  position: relative;
  //border-radius: 30% 70% 49% 51% / 2% 2% 98% 98%;

  :global(img) {
    margin-bottom: var(--margin-default);
    padding: var(--margin-default);
    border-radius: var(--margin-medium);
    overflow: hidden;
    background: #fff;
    width: 300px;
    max-width: 100%;
    display: block;
  }

  &::before {
    display: block;
    position: relative;
    width: 0;
    content: "";
    border: var(--bubble-size) solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    left: calc(50% - var(--bubble-size));
  }
}

.challengeAcceptedImageSvg {
  display: block;
  width: 200px;
  min-height: 256px;
  max-width: 100%;
  //padding: var(--margin-default);
  //margin-bottom: var(--margin-default);
  //background-color: #fff;
  //fill: #000;
  fill: var(--text-color);
}

.youDidIt {
  img {
    max-width: 100%;
    border-radius: 78% 22% 78% 22% / 39% 42% 58% 61%;
    width: clamp(400px,40vw, 800px);
  }

  p {
    font-style: italic;
  }
}

.restart {
  font-size: clamp(1.6em, 2.8vw, 2em);
  display: block;

  button {
    text-transform: uppercase;
  }
}

.newGame {
  margin-top: var(--margin-default);
  padding-bottom: var(--margin-default);
}
