.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(100svh - var(--navbar-height));
  height: calc(100svh - var(--navbar-height));
  overflow: hidden;
  gap: var(--margin-default);
  padding: var(--margin-default);
}

.preview {
  margin: 0;
}

.titlePreview {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  margin-block: var(--margin-default);
  font-style: italic;
}

.title {
  z-index: 1;
  flex: 0 0 auto;
  margin: 0 var(--margin-small);
  font-family: var(--font-family-title);
  background: var(--presentation-element-bg-color);
  color: (--presentation-element-text-color);
  padding: var(--margin-small) var(--margin-default);
  text-align: center;
  border-radius: var(--border-radius);

  &:first-letter {
    text-transform: uppercase;
  }
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  align-content: center;
  text-align: center;
}

.image {
  object-fit: contain;
  object-position: center;
  max-height: 100%;
  max-width: 100%;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.controls {
  flex: 0 0 auto;
  z-index: 1;
  margin: 0 var(--margin-small);
  display: flex;
  flex-direction: row;
  gap: var(--margin-default);
  align-items: center;
  justify-items: center;
  background: var(--presentation-element-bg-color);
  color: (--presentation-element-text-color);
  padding: var(--margin-default);
  border-radius: var(--border-radius);
  font-size: clamp(1.5em, 1.6vw, 2em);
}

.start {
  margin-top: var(--margin-medium);
  font-size: clamp(1.6em, 3.2vw, 3em);
  text-transform: uppercase;
}
