.header {
  z-index: 100;
  position: sticky;
  top: 0;
  margin: 0;
  display: flex;
  gap: var(--margin-small);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  height: var(--navbar-height);

  a {
    border: none;
    display: block;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.05;
    }
  }
}

.title {
  margin:0;
  font-size: 25px;
  font-family: var(--font-family-title);
  font-weight: bold;
  text-transform: uppercase;
}
