.header {
  z-index: 100;
  position: sticky;
  top:0;
  margin: 0;
  padding: var(--margin-default);
  display: flex;
  gap: 30px;
  flex-direction: row;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-color);
}
