@use "../../scss/variables";
@use "../../scss/common";

.footer {

}

.credits {
  @extend .title--simple;
  display: block;
  padding: var(--margin-small) var(--margin-default);
}

.author {
  @extend .title--simple;
  padding: var(--margin-small) var(--margin-default);
}
