@mixin dark {

  color-scheme: dark;
  // THEME (dark)
  --text-color: var(--white-dark);
  --text-color-secondary: var(--white);
  --text-bg-color: var(--black);
  --bg-color: var(--blue-dark-codemotion);
  --accent-color: var(--orange-codemotion);
  --error-color: var(--red);

  --navbar-bg-color: var(--blue-dark-codemotion);
  --navbar-text-color: var(--white-dark);
  --navbar-text-active-color: var(--accent-color);

  --footer-bg-color: var(--black);
  --footer-text-color: var(--white-dark);

  --btn-border-radius: var(--border-radius);
  --btn-primary-text-color: var(--white);
  --btn-primary-bg-color: var(--accent-color);
  --btn-secondary-text-color: var(--black);
  --btn-secondary-bg-color: var(--green-light-codemotion);
  --btn-outline-text-color: var(--accent-color);
  --btn-outline-border-color: var(--accent-color);
  --btn-clean-text-color: var(--accent-color);

  --code-bg-color: var(--black);
  --code-color: var(--white-dark);
  --code-border-color: transparent;

  --presentation-element-bg-color: var(--black);
  --presentation-element-text-color: var(--white-dark);

  --title--main-text-color: var(--white-dark);
  --title--main-bg-color: var(--black);
  --title--main-border-color: var(--black);

  --title--simple-text-color: var(--white-dark);
  --title--simple-bg-color: var(--black);
}

@mixin light {
  color-scheme: light;

  // THEME (light)
  --text-color: var(--blue-dark-codemotion);
  --text-color-secondary: var(--gray-dark);
  --text-bg-color: var(--white);
  --bg-color: var(--blue-light-codemotion);
  --accent-color: var(--orange-codemotion);
  --error-color: var(--red);

  --navbar-bg-color: var(--blue-dark-codemotion);
  --navbar-text-color: var(--white);
  --navbar-text-active-color: var(--accent-color);

  --footer-bg-color: var(--black-light);
  --footer-text-color: var(--white);

  --btn-border-radius: var(--border-radius);
  --btn-primary-text-color: var(--white);
  --btn-primary-bg-color: var(--accent-color);
  --btn-secondary-text-color: var(--black);
  --btn-secondary-bg-color: var(--green-light-codemotion);
  --btn-outline-text-color: var(--accent-color);
  --btn-outline-border-color: var(--accent-color);
  --btn-clean-text-color: var(--accent-color);

  --code-bg-color: var(--white);
  --code-color: var(--gray-dark);
  --code-border-color: var(--gray-dark);

  --presentation-element-bg-color: var(--black);
  --presentation-element-text-color: var(--white);

  --title--main-text-color: var(--black);
  --title--main-bg-color: var(--white);
  --title--main-border-color: var(--black);

  --title--simple-text-color: var(--white);
  --title--simple-bg-color: var(--black);
}
