@use "theme";

:root {
  color-scheme: light dark;

  //STRUCTURE
  --html-min-width: 300px;
  --navbar-height: 60px;

  --cursor-default: default;
  --cursor-pointer: pointer;

  //COLORS
  --black: #000;
  --black-transparent: #000C;
  --black-light: #0f0f0f;
  --white: #fff;
  --white-transparent: #FFFC;
  --white-dark: #d0d0d0;
  --gray-dark: #151515;
  --gray-light: #c5c4c5;
  --blue: #2daae1;
  --red: #d70d1f;

  --orange-codemotion: #FF5C00;
  --blue-dark-codemotion: #0E1E30;
  --blue-light-codemotion: #1E66FA;
  --green-light-codemotion: #54F0B2;
  --yellow-light-codemotion: #F9DC5C;

  --link-color: inherit;

  //FONTS
  --font-family-title: 'IBM Plex Sans', Exo, Georgia, serif;
  //--font-family-text: 'IBM Plex Sans', 'Roboto Condensed', Verdana, Helvetica, Arial, sans-serif;
  --font-family-text: Roboto, Verdana, Helvetica, Arial, sans-serif;

  //MARGINS
  //--margin-small: clamp(5px, 1vw, 15px);
  //--margin-default: clamp(15px, 3vw, 45px);
  //--margin-medium: clamp(30px, 6vw, 90px);
  //--margin-big: clamp(60px, 12vw, 180px);
  --margin-small: 5px;
  --margin-default: 15px;
  --margin-medium: 30px;
  --margin-big: 60px;

  //BORDERS
  --border-radius: 10px;
  --border-width: clamp(3px, 0.3vw, 10px);

  //TRANSITIONS
  --transition-duration: .2s;
  --navbar-transition-duration: .5s;
}

[data-theme=light] {
  @include theme.light;
  .logo-dark {
    display: none;
  }
  .logo-light {
    display: block;
  }
}

[data-theme=dark] {
  @include theme.dark;
}

// OS Default.
:root:not([data-theme=light]):not([data-theme=dark]) {
  @media (prefers-color-scheme: light) {
    @include theme.light;
  }

  @media (prefers-color-scheme: dark) {
    @include theme.dark;
  }
}
