@keyframes push-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100vh);
  }
}

@keyframes push-in {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0%);
  }
}
