@keyframes push-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes push-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
