@keyframes shake {
  0% {
    transform: rotate(0deg)
  }
  1% {
    transform: rotate(-10deg)
  }
  1.5% {
    transform: rotate(10deg)
  }
  2% {
    transform: rotate(-8deg)
  }
  2.5% {
    transform: rotate(8deg)
  }
  3% {
    transform: rotate(-5deg)
  }
  80% {
    transform: rotate(-5deg)
  }
  85% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(4deg) }
  55% { transform: translateY(-9px) rotate(-4deg) }
  65% { transform: translateY(-9px) rotate(4deg) }
  75% { transform: translateY(-9px) rotate(-4deg) }
  100% { transform: translateY(0) rotate(0) }
}
